<main>
  <mat-card class="auth-card">
    <mat-card-header>
      <h1>{{ title }}</h1>
    </mat-card-header>
    <mat-card-content>
      <div class="options">
        <mat-chip-option
          class="full-width"
          [selected]="title === 'Login'"
          [value]="'Login'"
          (click)="goToLogin()"
          [disabled]="isLoading"
        >
          <mat-label>Login</mat-label>
        </mat-chip-option>

        <mat-chip-option
          class="full-width"
          [selected]="title === 'Register'"
          [value]="'Register'"
          (click)="goToRegister()"
          [disabled]="isLoading"
        >
          <mat-label>Register</mat-label>
        </mat-chip-option>
      </div>
      <form [formGroup]="authForm">
        <mat-form-field class="form-input-group">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="user@email.com"
          />
          <mat-hint>Email Address</mat-hint>
          <span *ngIf="authForm.controls.email.touched">
            <mat-error *ngIf="authForm.controls.email.errors"
              >- Email Required</mat-error
            >
          </span>
        </mat-form-field>

        <mat-form-field class="form-input-group">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-hint>Password</mat-hint>
          <span *ngIf="authForm.controls.password.touched">
            <mat-error *ngIf="authForm.controls.password.errors?.['required']">
              - Password Required
            </mat-error>
            <mat-error *ngIf="authForm.controls.password.errors?.['minlength']">
              - Password must contain at least 8 characters
            </mat-error>
          </span>
        </mat-form-field>

        <p>
          Already registered
          <a routerLink="/auth" (click)="goToLogin()">Login</a>
        </p>

        <p>
          Not registered
          <a routerLink="/auth" (click)="goToRegister()">Register</a>
        </p>

        <div class="error-box" *ngIf="error?.errors">
          <mat-error>
            <ul>
              <li *ngFor="let error of error?.errors">
                {{ error }}
              </li>
            </ul>
          </mat-error>
        </div>

        <div class="error-box" *ngIf="error?.detail">
          <mat-error>
            <p>
              {{ error?.detail }}
            </p>
          </mat-error>
        </div>

        <button
          mat-flat-button
          class="form-submit-button"
          color="primary"
          [disabled]="authForm.invalid"
          (click)="onSubmit()"
        >
          <span *ngIf="!isLoading">
            {{ title }}
          </span>
          <span *ngIf="isLoading">
            <mat-spinner class="spinner"></mat-spinner>
          </span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</main>
