h1 {
  font-size: 2rem;
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

main {
  font-size: 1.5rem;
}

.auth-card {
  max-width: 900px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  margin: 2em 1em;
}

.options {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1em;
}

.form-input-group {
  width: 100%;
  margin-bottom: 1rem;
}

.form-submit-button {
  display: flex !important;
  margin: 1em 0;
  width: 100%;

  .spinner {
    height: 1rem !important;
    width: 1rem !important;
  }
}

@media (min-width: 760px) {
  .auth-card {
    margin: 3em 25%;
  }
}

.error-box {
  margin: 0.5em 0;
  padding: 0.5em 0.25em 1em 0;
  background-color: rgba(250, 136, 136, 0.5);
  border-radius: 8px;

  mat-error {
    font-size: 0.75em !important;
  }

  p {
    margin: 0.25em;
  }
}
