<div class="search">
  <mat-form-field class="search-item">
    <input
      matInput
      type="search"
      placeholder="Search Location"
      [matAutocomplete]="addressAutocomplete"
    />
    <mat-autocomplete #addressAutocomplete="matAutocomplete">
      <mat-option>Mabopane</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<main id="map" class="main-map"></main>
<div class="jokes-area">
  <mat-card class="glassy">
    <mat-card-header>Jokes</mat-card-header>
    <mat-card-content class="jokes-section">
      <mat-card class="joke-card" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
        <mat-card-content> joke card {{ i }} </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
