main {
  padding: 1em 0;
  height: 100%;
  background-color: #d3d3d3;
}

.form-card {
  margin: 1em 2%;
}

input {
  border: 1px solid red;
  border-radius: 8px !important;
}

.input-group {
  width: 100%;
  margin-bottom: 2em;
}

.submit-btn {
  width: 100%;
}

@media (min-width: 760px) {
  main {
    height: 100vh;
  }

  .form-card {
    margin: 1em 25%;
  }
}

.spinner {
  width: 1rem !important;
  height: 1rem !important;
}

// .mat-mdc-progress-spinner {
//   --mdc-circular-progress-active-indicator-color: #fff;
// }

.full-width {
  width: 100%;
}
